/* line 12, style.scss */
.myBtn {
  -fx-text-fill: orange;
  -fx-background-color: #191919;
}

/* line 17, style.scss */
.myBtn:hover {
  -fx-background-color: orange;
  -fx-text-fill: #191919;
  -fx-border-width: 1px;
  -fx-border-color: #191919;
}

/* line 24, style.scss */
.myBtn:pressed {
  -fx-background-color: #dfe2db;
}

/* line 28, style.scss */
.centerPane {
  -fx-background-color: #babdb6;
  -fx-min-width: 60%;
  -fx-min-height: 60%;
}

/* line 34, style.scss */
.nextStationRequest {
  -fx-background-color: orange;
  -fx-pref-width: 400px;
  -fx-padding: 2px;
  -fx-min-height: auto;
  -fx-border-width: 1px;
  -fx-border-color: #191919;
  -fx-text-alignment: center;
}

/* line 44, style.scss */
.nextStationRequest:hover {
  -fx-border-width: 2px;
}

/* line 48, style.scss */
.mainContainer {
  -fx-background-color: rgba(223, 226, 219, 0.52);
  -fx-min-height: 100%;
  -fx-min-width: 100%;
}

/* line 58, style.scss */
.leftMenu {
  -fx-background-color: #191919;
  -fx-min-height: 60%;
  -fx-min-width: 50%;
  -fx-border-width: 2px;
  -fx-border-color: orange;
}

/* line 66, style.scss */
.menu {
  -fx-background-color: orange;
}

/* line 70, style.scss */
.lineCreator {
  -fx-border-width: 1px;
  -fx-border-color: #191919;
  -fx-background-color: orange;
}

/* line 76, style.scss */
.lineCreator:hover {
  -fx-border-width: 2px;
}

/* line 80, style.scss */
.borderBottom {
  -fx-background-color: #191919;
  -fx-min-height: 10px;
  -fx-border-width: 1px;
  -fx-border-color: orange;
}

/* line 87, style.scss */
.mainBorderPane {
  -fx-min-width: 1000px;
  -fx-min-height: 1000px;
  -fx-pref-height: 100%;
  -fx-pref-width: 100%;
}

/* line 94, style.scss */
.borderBottomPane {
  -fx-min-height: 1000px;
}

/* line 98, style.scss */
.stationIcon {
  -fx-stroke: white;
  -fx-stroke-width: 1px;
}

/* line 103, style.scss */
.stationIcon:hover {
  -fx-stroke: orange;
  -fx-stroke-width: 3px;
}

/* line 108, style.scss */
.stationCreator {
  -fx-background-color: orange;
  -fx-border-width: 1px;
  -fx-border-color: #191919;
}

/* line 114, style.scss */
.stationCreator:hover {
  -fx-border-width: 2px;
}

/* line 138, style.scss */
.endStationIcon {
  -fx-min-height: 30px;
  -fx-min-width: 30px;
  -fx-background-color: #dfe2db;
  -fx-border-width: 2px;
  -fx-border-color: orange;
  -fx-text-alignment: center;
}

/* line 147, style.scss */
.endStationIcon:hover {
  -fx-border-width: 3px;
  -fx-border-color: orange;
}

/* line 152, style.scss */
.neighborRequest {
  -fx-background-color: orange;
  -fx-border-width: 1px;
  -fx-border-color: #191919;
  -fx-padding: 4px;
  -fx-min-width: auto;
  -fx-min-height: auto;
}

/* line 161, style.scss */
.neighborRequest:hover {
  -fx-border-width: 2px;
  -fx-border-color: #191919;
}

/* line 166, style.scss */
.connector {
  -fx-stroke-width: 1px;
}

/* line 170, style.scss */
.descriptionMap {
  -fx-background-color: transparent;
  -fx-border-width: 1px;
  -fx-border-color: orange;
  -fx-text-fill: #191919;
}

/* line 177, style.scss */
.information {
  -fx-background-color: #000000;
  -fx-border-width: 1px;
  -fx-border-color: orange;
  border: 2px solid;
  border-radius: 25px;
}

/* line 185, style.scss */
.displayMessage {
  -fx-background-color: transparent;
  -fx-text-fill: greenyellow;
}

/* line 190, style.scss */
.selectedStationTxt {
  -fx-fill: orange;
}

/* line 194, style.scss */
.priceTxT {
  -fx-fill: orange;
}
