/* line 12, style.scss */
.myBtn {
  -fx-text-fill: orange;
  -fx-background-color: #191919;
}

/* line 17, style.scss */
.myBtn:hover {
  -fx-background-color: orange;
  -fx-text-fill: #191919;
  -fx-border-width: 1px;
  -fx-border-color: #191919;
}

/* line 24, style.scss */
.myBtn:pressed {
  -fx-background-color: orange;
}

/* line 28, style.scss */
.centerPane {
  -fx-background-color: #babdb6;
  -fx-min-width: 60%;
  -fx-min-height: 100%;
  -fx-pref-height: 100%;
}

/* line 35, style.scss */
.nextStationRequest {
  -fx-background-color: orange;
  -fx-pref-width: 400px;
  -fx-border-color: grey;
  -fx-text-alignment: right;
}

/* line 42, style.scss */
.mainContainer {
  -fx-background-color: rgba(223, 226, 219, 0.52);
}

/* line 50, style.scss */
.leftMenu {
  -fx-background-color: #191919;
  -fx-min-height: 100%;
  -fx-min-width: 50%;
  -fx-border-width: 2px;
  -fx-border-color: orange;
}

/* line 58, style.scss */
.menu {
  -fx-background-color: orange;
}

/* line 62, style.scss */
.lineCreator {
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-background-color: orange;
}

/* line 68, style.scss */
.borderBottom {
  -fx-background-color: orange;
  -fx-min-height: 10px;
}

/* line 73, style.scss */
.mainBorderPane {
  -fx-min-width: 1000px;
  -fx-min-height: 1000px;
  -fx-pref-height: 100%;
  -fx-pref-width: 100%;
}

/* line 80, style.scss */
.borderBottomPane {
  -fx-min-height: 1000px;
}

/* line 84, style.scss */
.stationIcon {
  -fx-stroke: white;
  -fx-stroke-width: 1px;
}

/* line 89, style.scss */
.stationIcon:hover {
  -fx-stroke: orange;
  -fx-stroke-width: 6px;
}

/* line 94, style.scss */
.stationCreator {
  -fx-background-color: orange;
}

/* line 118, style.scss */
.endStationIcon {
  -fx-min-height: 30px;
  -fx-min-width: 30px;
  -fx-background-color: #dfe2db;
  -fx-border-width: 2px;
  -fx-border-color: orange;
  -fx-text-alignment: center;
}

/* line 127, style.scss */
.neighborRequest {
  -fx-background-color: orange;
  -fx-border-width: 1px;
  -fx-border-color: #191919;
  -fx-padding: 2px;
  -fx-min-width: auto;
  -fx-min-height: auto;
}

/* line 136, style.scss */
.neighborRequest:hover {
  -fx-border-width: 2px;
  -fx-border-color: #191919;
}

/* line 141, style.scss */
.connector {
  -fx-stroke-width: 1px;
}
