/* line 9, style.scss */
.myBtn {
  -fx-font-size: 14px;
  -fx-background-color: rgba(54, 61, 66, 0.38);
}

/* line 14, style.scss */
.myBtn:hover {
  -fx-background-color: rgba(160, 170, 178, 0.52);
}

/* line 18, style.scss */
.myBtn:pressed {
  -fx-background-color: orange;
}

/* line 22, style.scss */
.centerPane {
  -fx-background-color: rgba(54, 61, 66, 0.38);
  -fx-min-width: 60%;
  -fx-min-height: 100%;
  -fx-pref-height: 100%;
}

/* line 29, style.scss */
.nextStationRequest {
  -fx-background-color: orange;
  -fx-pref-width: 400px;
  -fx-border-color: grey;
  -fx-text-alignment: right;
}

/* line 36, style.scss */
.mainContainer {
  -fx-background-color: rgba(160, 170, 178, 0.52);
}

/* line 44, style.scss */
.leftMenu {
  -fx-background-color: rgba(46, 53, 50, 0.59);
  -fx-min-height: 100%;
  -fx-min-width: 50%;
  -fx-border-color: orange;
}

/* line 51, style.scss */
.menu {
  -fx-background-color: orange;
}

/* line 55, style.scss */
.lineCreator {
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-background-color: orange;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

/* line 62, style.scss */
.borderBottom {
  -fx-background-color: orange;
  -fx-min-height: 10px;
}

/* line 67, style.scss */
.mainBorderPane {
  -fx-min-width: 1000px;
  -fx-min-height: 1000px;
  -fx-pref-height: 100%;
  -fx-pref-width: 100%;
}

/* line 74, style.scss */
.borderBottomPane {
  -fx-min-height: 1000px;
}

/* line 78, style.scss */
.stationIcon {
  -fx-border-radius: 40px;
  -fx-min-width: 40px;
  -fx-stroke: black;
  -fx-stroke-width: 1px;
}

/* line 85, style.scss */
.stationIcon:hover {
  -fx-stroke: white;
}

/* line 89, style.scss */
.stationCreator {
  -fx-background-color: orange;
}
