$secondary1: #191919;
$secondary2: #DFE2DB;
$secondary4: #FFFFFF;
$backgroundColor: rgba(223, 226, 219, 0.52);
$centerBackgroundColor: rgba(186, 189, 182, 1);
$customerColor1: #C7CEDB;
$customerColor2: #A0AAB2;
$orangeColor: #FFA500;
$leftMenuBackgroundColor: #191919;


.myBtn {
    -fx-text-fill: $orangeColor;
    -fx-background-color: $secondary1;
}

.myBtn:hover {
    -fx-background-color: $orangeColor;
    -fx-text-fill: $secondary1;
    -fx-border-width: 1px;
    -fx-border-color: $secondary1;
}

.myBtn:pressed {
    -fx-background-color: $secondary2;
}

.centerPane{
    -fx-background-color: $centerBackgroundColor;
    -fx-min-width: 60%;
    -fx-min-height: 100%;
    -fx-pref-height: 100%;
}

.nextStationRequest{
    -fx-background-color: $orangeColor;
    -fx-pref-width: 400px;
    -fx-padding: 2px;
    -fx-min-height: auto;
    -fx-border-width: 1px;
    -fx-border-color: $secondary1;
    -fx-text-alignment: center;
}

.nextStationRequest:hover {
    -fx-border-width: 2px;
}

.mainContainer{
    -fx-background-color: $backgroundColor;
}

.rightBorder{

}

.leftMenu{
    -fx-background-color: $leftMenuBackgroundColor;
    -fx-min-height: 100%;
    -fx-min-width: 50%;
    -fx-border-width: 2px;
    -fx-border-color: $orangeColor;
}

.menu{
    -fx-background-color: $orangeColor;
}

.lineCreator{
    -fx-border-width: 1px;
    -fx-border-color: $secondary1;
    -fx-background-color: $orangeColor;
}

.lineCreator:hover{
    -fx-border-width: 2px;
}

.borderBottom{
    -fx-background-color: $secondary1;
    -fx-min-height: 10px;
    -fx-border-width: 1px;
    -fx-border-color: $orangeColor;
}

.mainBorderPane{
    -fx-min-width: 1000px;
    -fx-min-height: 1000px;
    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
}

.borderBottomPane{
    -fx-min-height: 1000px;
}

.stationIcon{
    -fx-stroke: white;
    -fx-stroke-width: 1px;
}

.stationIcon:hover{
    -fx-stroke: $orangeColor;
    -fx-stroke-width: 3px;
}

.stationCreator{
    -fx-background-color: $orangeColor;
    -fx-border-width: 1px;
    -fx-border-color: $secondary1;
}

.stationCreator:hover{
    -fx-border-width: 2px;
}

.stationCreatorVBox{

}

.stationCreatorZoneChoseHBox{

}

.stationCreatorZoneChooser{

}

.stationCreatorZoneLabel{

}

.stationCreatorName{

}

.endStationIcon{
    -fx-min-height: 30px;
    -fx-min-width: 30px;
    -fx-background-color: $secondary2;
    -fx-border-width: 2px;
    -fx-border-color: $orangeColor;
    -fx-text-alignment: center;
}

.endStationIcon:hover{
    -fx-border-width: 3px;
    -fx-border-color: $orangeColor;
}

.neighborRequest{
    -fx-background-color: $orangeColor;
    -fx-border-width: 1px;
    -fx-border-color: $secondary1;
    -fx-padding: 4px;
    -fx-min-width: auto;
    -fx-min-height: auto;
}

.neighborRequest:hover{
    -fx-border-width: 2px;
    -fx-border-color: $secondary1;
}

.connector{
    -fx-stroke-width: 1px;
}

.descriptionMap{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: $orangeColor;
    -fx-text-fill: $secondary1;
}

.information{
    -fx-background-color: #000000;
    -fx-border-width: 1px;
    -fx-border-color: $secondary4;
    border: 2px solid;
    border-radius: 25px;
}

.displayMessage{
    -fx-background-color: transparent;
    -fx-text-fill: greenyellow;
}